<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.mverse.gradle-plugin</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0D8ED74A-B0AC-4830-8A2B-A0BB57CD3DDA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD2F4454-348F-49F4-8115-64054B82050F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste as gradle plugin block</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>26D27C60-21C6-4F6C-A444-86C8FD616CF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A3A74CA5-1477-46D3-978B-93BB7100E809</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD2F4454-348F-49F4-8115-64054B82050F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste to gradle plugin block</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>26D27C60-21C6-4F6C-A444-86C8FD616CF4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open gradle plugin page</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0D8ED74A-B0AC-4830-8A2B-A0BB57CD3DDA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>mverse</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Gradle Plugin Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>id("{var:gplugin_id}").version("{var:gplugin_version}")</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DD2F4454-348F-49F4-8115-64054B82050F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>gplugin</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Please wait</string>
				<key>script</key>
				<string>/Users/ericm/sbsp-cli/.direnv/python-3.6.3/bin/sbsp devops gradle_plugin_search --query "$1" 2&gt;/dev/null</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search Gradle Plugins for "{query}"</string>
				<key>title</key>
				<string>Search Gradle Plugins</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A3A74CA5-1477-46D3-978B-93BB7100E809</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:gplugin_url}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>26D27C60-21C6-4F6C-A444-86C8FD616CF4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>103</integer>
				<key>keyword</key>
				<string>gpv</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Please wait</string>
				<key>script</key>
				<string>/Users/ericm/sbsp-cli/.direnv/python-3.6.3/bin/sbsp devops gradle_plugin_versions --version-query '{query}' 2&gt;/dev/null</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Listing versions for {var:gplugin_id}</string>
				<key>title</key>
				<string>Looking up versions for {var:gplugin_id}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0D8ED74A-B0AC-4830-8A2B-A0BB57CD3DDA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0D8ED74A-B0AC-4830-8A2B-A0BB57CD3DDA</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>26D27C60-21C6-4F6C-A444-86C8FD616CF4</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>A3A74CA5-1477-46D3-978B-93BB7100E809</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>DD2F4454-348F-49F4-8115-64054B82050F</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>gplugin_id</key>
		<string></string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://www.mverse.io</string>
</dict>
</plist>
